@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;800&display=swap');

:root{
    --escrita-clara: #fff;
    --light: #E5E5E5;
    --blue: #0A3871;
    --apagado: #495057;
}

body{
    font-family: 'Inter', sans-serif;
    background: var(--light);
    /*height: 100vh;*/
}

header{
    position: absolute;
    left: 40px;
    top: 40px;
}

header img{
    display:inline-block;
    margin: 0 auto;
}

.wrap{
    display:flex;
    flex-direction: column;
}

main{
    width: 800px;
    margin: 0px auto;
    height: 85vh;

}

.menu-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3em;

    position: absolute;
    top: 30vh;
    left: 30vw;
    width: 40vw;
}

button{
    display: inline-block;
    width: 332px;
    height: 67px;

    background: var(--blue);
    border-radius: 24px;
    border: none;
    font-size: 1.3em;

    color: var(--escrita-clara);
}

.menu-principal button{
    width: 317px;
    height: 105px;
}

.botao-negativo{
    border: 2px solid var(--blue);
    background: var(--light);
    color: var(--blue);
}

.jogo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.jogo canvas{
    align-self: center;
    background: var(--blue);
    height: 300px;
    width: 294px;
}

.palavra-sorteada{
    margin: 5vh 0;
}

.palavra-sorteada li{
    display: inline-block;
    margin: 0 8px;
    text-align: center;
    vertical-align: bottom;
}

.palavra-sorteada p{
    height: 1em;

    font-size: 2em;
    color: var(--blue);
}

.palavra-sorteada div{
    width: 80px;
    height: 4px;

    background: var(--blue);
}

#letras-erradas p{
    display: inline-block;
    font-size: 1.3em;

    color: var(--apagado);

    margin: 0 8px 1em;
}

.botoes button{
    margin: 0 1.2em;
}

.adicionar-palavra{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adicionar-palavra input{
    border:none;
    background: var(--light);

    font-size: 2.5em;
    text-align: center;
    color: var(--blue);

    margin: 20vh 0;

}

.adicionar-palavra aside{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1em 0;
}

.adicionar-palavra img{
}

.adicionar-palavra p{
    color: var(--apagado);
    font-size: 0.8em;

    display: inline-block;
    margin-left: 0.5em;
}

.invisivel{
    display: none;
}


footer{
    display: flex;
    flex-direction: row;
    gap: 10px;

    padding: 0.7em;
    justify-content: center;
    align-items: center;

    background-image: url(images/bg-footer.jpg);

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

footer img{
    height: 1.3em;
}

footer p{
    font-size: 0.8em;
    color: var(--light);
}